.cards-list1 {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card1 {
    margin: 30px auto;
    width: 150px;
    height: 150px;
    border-radius: 40px;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.25), -2px -2px 10px 3px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;
}

.card1 .card_image1 {
    width: 150px;
    height: 150px;
    border-radius: 40px;
}

.card1 .card_image1 .span {
    width: 150px;
    height: 150px;
    border-radius: 40px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.card1 .card_title1 {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-top: -100px;
    height: 40px;
}

.card1:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 2.5px 2.5px 15px 7.5px rgba(0, 0, 0, 0.25), -2.5px -2.5px 15px 7.5px rgba(0, 0, 0, 0.22);
}

.title1-white {
    color: white;
}

.title1-black {
    color: black;
}

@media all and (max-width: 500px) {
    .card1-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}


/*
.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}
*/